@import "base.css";

/*=======================================================================*/
/* VARIABLES
/*=======================================================================*/
@font-face {
    font-family: 'Londrina Solid Thin';
    src: url("../fonts/LondrinaSolid-Thin.ttf");
}
@font-face {
    font-family: 'Londrina Solid Light';
    src: url("../fonts/LondrinaSolid-Light.ttf");
}
@font-face {
    font-family: 'Londrina Solid Regular';
    src: url("../fonts/LondrinaSolid-Regular.ttf");
}
@font-face {
    font-family: 'Londrina Solid Black';
    src: url("../fonts/LondrinaSolid-Black.ttf");
}

:root {
  --main-color: #FFC629;
  --secondary-color: #170F36;
  --font-thin: 'Londrina Solid Thin';
  --font-light: 'Londrina Solid Light';
  --font-regular: 'Londrina Solid Regular';
  --font-black: 'Londrina Solid Black';
}

/*=======================================================================*/
/* BODY
/*=======================================================================*/

/* set style template for scenes */
body {
  font-family: var(--font-black);
  text-transform: uppercase;
  /*text-transform: uppercase;*/
}

/*========================================================================*/
/*
/*    ######  ####### #     # #     # ####### ### #     # #######
/*    #     # #     # #  #  # ##    #    #     #  ##   ## # 
/*    #     # #     # #  #  # # #   #    #     #  # # # # #
/*    #     # #     # #  #  # #  #  #    #     #  #  #  # #####
/*    #     # #     # #  #  # #   # #    #     #  #     # #
/*    #     # #     # #  #  # #    ##    #     #  #     # #
/*    ######  #######  ## ##  #     #    #    ### #     # #######
/*
/*========================================================================*/

#message_downtime {
  position: absolute;
  height:138px;
  width:1200px;
  left:360px;
  top:670px;
  font-size: 150px;
  text-align: center;
  font-family: var(--font-black);
  -webkit-text-stroke: 8px black;
  letter-spacing: -2px
}

#scene_downtime {
  height: 100%;
  width: 100%;
}

/*#sponsors_static {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 830px;
  left: 520px;
  background-image: url('../overlays/graphics/misc_assets/sponsors_static.png');
  background-repeat: no-repeat;
}*/

/*========================================================================*/
/*
/*     #####     #     #####  ####### ####### ######   #####
/*    #     #   # #   #     #    #    #       #     # #     #
/*    #        #   #  #          #    #       #     # #
/*    #       #     #  #####     #    #####   ######   #####
/*    #       #######       #    #    #       #   #         #
/*    #     # #     # #     #    #    #       #    #  #     #
/*     #####  #     #  #####     #    ####### #     #  #####
/*
/*========================================================================*/

/*.casters_2 {
  background-image: url("../overlays/graphics/overlay_casters_2.png");
}

.casters_3 {
  background-image: url("../overlays/graphics/overlay_casters_3.png");
}*/

#caster_wrapper_1,#caster_wrapper_2,#caster_wrapper_3,#caster_wrapper_4 {
  width: 500px;
  height: 80px;
  top: 850px;
  font-size: 70px;
  font-family: var(--font-black);
  -webkit-text-stroke: 3px black;
  letter-spacing: -2px  
}

#caster_wrapper_1 {left:  310px;}
#caster_wrapper_2 {left: 1120px;}

#caster_full_1, #caster_full_2, #caster_full_3 {
  margin-bottom: -10px;
}

#caster_wrapper_1 {
  text-align: right;
}
#caster_wrapper_2 {
  text-align: left;
}

#caster_sponsor_1, #caster_sponsor_2, #caster_sponsor_3, #caster_sponsor_4 {
   color: #D62A28;}

#caster_twitter_1, #caster_twitter_2, #caster_twitter_3, #caster_twitter_4 {
  font-size: 35px;
  padding-left: 25px;
  font-family: var(--font-black);
  color: #D62A28;
  -webkit-text-stroke: 0px black;  
}

#caster_twitter_2 {
  padding-left: 0px;
  padding-right: 25px;
}

#caster_pronouns_1, #caster_pronouns_2, #caster_pronouns_3, #caster_pronouns_4 {
  font-size: 30px;
  font-family: var(--font-black);
  color: white;
  font-style: normal;
  -webkit-text-stroke: 0px black;
  color: #D62A28;
}

.hide {display: none;}
.show {display: inline;}

/*========================================================================*/
/*
/*    #       ####### #     # ####### ######     ####### #     # ### ######  ######  
/*    #       #     # #  #  # #       #     #       #    #     #  #  #     # #     # 
/*    #       #     # #  #  # #       #     #       #    #     #  #  #     # #     # 
/*    #       #     # #  #  # #####   ######        #    #######  #  ######  #     # 
/*    #       #     # #  #  # #       #   #         #    #     #  #  #   #   #     # 
/*    #       #     # #  #  # #       #    #        #    #     #  #  #    #  #     # 
/*    ####### #######  ## ##  ####### #     #       #    #     # ### #     # ######  
/*
/*========================================================================*/

/*#scene_wrapper_lower_third { 
  background-image: url("../overlays/graphics/overlay_lower_third.png");
}*/

#lower_third_wrapper {
  height: 134px;
  width: 900px;
  left: 450px;
  top: 850px;
}

#lower_third_line_first_wrapper {
  font-size: 65px;
  padding-top: 20px;
  font-family: var(--font-black);
  margin-bottom: -8px;
  -webkit-text-stroke: 2px black;  
}

#lower_third_line_second_wrapper {
  font-size: 45px;
  padding-top: 5px;  
  font-family: var(--font-black);
  -webkit-text-stroke: 0px black;
  color: #D62A28;
}

/*========================================================================*/
/*
/*     #####         #####  #     # ####### #######  #####
/*    #     #       #     # #     # #     #    #    #     #
/*          #       #       #     # #     #    #    #
/*     #####  #####  #####  ####### #     #    #     #####
/*    #                   # #     # #     #    #          #
/*    #             #     # #     # #     #    #    #     #
/*    #######        #####  #     # #######    #     #####
/*
/*========================================================================*/

#scene_wrapper_2_shot_16x9 {
  background-image: url("../overlays/graphics/overlay_2_shot_16x9.png");
}

#scene_wrapper_2_shot_73x60 {
  background-image: url("../overlays/graphics/overlay_2_shot_73x60.png"); 
}

#sponsors_static_2_shot_73x60 {
  position: absolute;  
  height: 200px;
  width: 100%;
  top: 870px;
  left: 565px;
  background-image: url('../overlays/graphics/misc_assets/sponsors_static.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/*========================================================================*/
/*
/*     #####         #####  #     # ####### #######  #####
/*    #     #       #     # #     # #     #    #    #     #
/*          #       #       #     # #     #    #    #
/*     #####  #####  #####  ####### #     #    #     #####
/*          #             # #     # #     #    #          #
/*    #     #       #     # #     # #     #    #    #     #
/*     #####         #####  #     # #######    #     #####
/*
/*========================================================================*/

#scene_wrapper_3_shot_73x60 {
  background-image: url("../overlays/graphics/overlay_3_shot_73x60.png"); 
}

#sponsors_static_3_shot_73x60 {
  position: absolute;  
  height: 170px;
  width: 100%;
  bottom: 10px;
  left: 625px;
  background-image: url('../overlays/graphics/misc_assets/sponsors_static.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* H2H */

#scene_wrapper_gameplay_h2h_melee_singles {
  background-image: url("../overlays/graphics/overlay_gameplay_melee_singles22.png");
}

#round_wrapper_h2h {
  width: 440px;
  height: 61px;
  left: 740px;
  top: 452px;
}

#round_h2h {
  padding-top: 12px;
  font-size: 30px;
}

#l_tag_wrapper_h2h, #r_tag_wrapper_h2h {
  height: 46px;
  width: 395px;
  font-size: 28px;
  font-family: var(--font-ultra);
  top: 900px;
  padding-top: 14px;
}

#l_tag_wrapper_h2h {left:  450px;}
#r_tag_wrapper_h2h {right: 450px;}

#l_tag_h2h,#l_sponsor_h2h,#r_tag_h2h,#r_sponsor_h2h, #l_loss_h2h, #r_loss_h2h {
  var(--font-ultra);
}

#l_sponsor_h2h, #l_loss_h2h {
  color: var(--color-blue);
}

#r_sponsor_h2h, #r_loss_h2h {
  color: var(--color-red);
}

/*#l_pronoun_wrapper_h2h, #r_pronoun_wrapper_h2h {
  top: 435px;
  width: 300px;
  height: 55px;
}

#l_pronoun_wrapper_h2h {left:  0px;}
#r_pronoun_wrapper_h2h {right: 0px;}*/

#l_pronoun_h2h, #r_pronoun_h2h {
  font-size: 20px;
  padding-top: -10px;
  text-transform: lowercase;
}

#l_loss_h2h, #r_loss_h2h {
  font-size: 35px;
  padding-left: 5px;
}

#l_score_wrapper_h2h, #r_score_wrapper_h2h {
  text-shadow: 2px 2px 2px #000000;
  height: 100px;
  width: 100px;
  font-family: var(--font-ultra);
  top: 905px;
}

#l_score_wrapper_h2h {left:  830px;}
#r_score_wrapper_h2h {right: 830px;}

#l_score_h2h, #r_score_h2h {
  font-size: 50px;
}

#l_char_h2h, #r_char_h2h {
  width: 36px;
  height: 36px;
}

#l_char_wrapper_h2h, #r_char_wrapper_h2h {top: 905px;}
#l_char_wrapper_h2h {left:  436px;}
#r_char_wrapper_h2h {right: 434px;}

/*========================================================================*/
/*
/*     #####     #    #     # ####### ######  #          #    #     #
/*    #     #   # #   ##   ## #       #     # #         # #    #   #
/*    #        #   #  # # # # #       #     # #        #   #    # #
/*    #  #### #     # #  #  # #####   ######  #       #     #    #
/*    #     # ####### #     # #       #       #       #######    #
/*    #     # #     # #     # #       #       #       #     #    #
/*     #####  #     # #     # ####### #       ####### #     #    #
/*
/*========================================================================*/

/*#scene_wrapper_gameplay_melee_singles {
  background-image: url("../overlays/graphics/overlay_gameplay_melee_singles.png");
}*/

#round_wrapper {
  width: 310px;
  height: 70px;
  left: 787px;
  top: 14px;
  text-align: center;
  -webkit-text-stroke: 2px black;
  letter-spacing: -1px;
}

#round {
  padding-top: 11px;
  font-size: 35px;
}

/* TAGS*/

#l_tag_wrapper, #r_tag_wrapper {
  display: inline;
  height: 20px;
  width: 310px;
  font-size: 32px;
  font-family: var(--font-black);
  bottom: 18px;
  -webkit-text-stroke: 1px black;
}

#l_tag_wrapper {
  left:  70px;
  text-align: left;
}

#r_tag_wrapper {
  right: 55px;
  text-align: right;
}

#l_tag, #r_tag {
  position: relative;
}

#l_sponsor,#r_sponsor {
  font-size: 22px;
  color: #D62A28;
  -webkit-text-stroke: 1px black;
  position: relative;
}

#l_pronoun_wrapper, #r_pronoun_wrapper {
  top: 705px;
  width: 300px;
  height: 55px;
  font-family: var(--font-bold);
}

#l_pronoun_wrapper {left:  0px;}
#r_pronoun_wrapper {right: 0px;}

#l_pronoun, #r_pronoun {
  font-size: 20px;
}

#l_loss, #r_loss {
  font-size: 35px;
  padding-left: 5px;
}

#l_score_wrapper, #r_score_wrapper {
  text-shadow: 2px 2px 2px #000000;
  height: 30px;
  width: 30px;
	font-family: var(--font-ultra);
  bottom: 17px;
}

#l_score_wrapper {left:  12px;}
#r_score_wrapper {right: 12px;}

#l_score, #r_score {
  font-size: 30px;
}

#l_char, #r_char {
  width: 65px;
  height: 65px;
}

#l_char_wrapper, #r_char_wrapper {
  top: 871px;
  height: 90px;
  width: 100px;
}
#l_char_wrapper {left:  56px;}
#r_char_wrapper {right: 18px;}

#sponsors_carousel_wrapper {
  height: 175px;
  width: 175px;
  right: 27px;
  top: 50px;
}

/*DOUBLES*/

#round_wrapper_doubles {
  width: 310px;
  height: 70px;
  right: 120px;
  top: 190px;
}

#round_wrapper_doubles {
  padding-top: 11px;
  font-size: 35px;
}

#l_tag_wrapper_doubles, #r_tag_wrapper_doubles {
  height: 40px;
  width: 310px;
  font-size: 33px;
  font-family: var(--font-ultra);
  top: 882px;
  right: 100px;
}
#r_tag_wrapper_doubles {
  top: 965px;
}

#l_tag_doubles, #r_tag_doubles {
  font-family: var(--font-regular);
}

#l_score_doubles, #r_score_doubles {
  font-size: 65px;
}

#l_score_wrapper_doubles, #r_score_wrapper_doubles {
  text-shadow: 2px 2px 2px #000000;
  height: 100px;
  width: 100px;
  font-family: var(--font-ultra);
  bottom: 121px;
}

#l_score_wrapper_doubles {right: 450px;}
#r_score_wrapper_doubles {
  right: 450px;  
  bottom: 35px;
}